<div
  [ngClass]="{
    'actions-lg': opened || hovered,
    'actions-sm': !opened && !hovered
  }"
>
  <div class="sidenavToggleWrapper">
    <span *ngIf="opened || hovered">Smart Wallet</span>
    <button
      id="sidenavToggleButton"
      (click)="toggleSidenav()"
      matTooltipPosition="after"
      [matTooltip]="!opened ? 'Abrir menu' : 'Fechar menu'"
    >
      <mat-icon>
        {{ opened ? 'menu_open' : 'menu' }}
      </mat-icon>
    </button>
  </div>
  <a
    [routerLink]="['/panel/index']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon>dashboard</mat-icon>
    <span *ngIf="opened || hovered">Dashboard</span>
  </a>
  <a [routerLink]="['/panel/accounts']" routerLinkActive="active">
    <mat-icon>account_balance_wallet</mat-icon>
    <span *ngIf="opened || hovered">Contas</span>
  </a>
  <a [routerLink]="['/panel/groups']" routerLinkActive="active">
    <mat-icon>group</mat-icon>
    <span *ngIf="opened || hovered">Grupos</span>
  </a>
</div>
