:host {
  width: 100%;
  height: auto;
  display: flex;
}

mat-icon,
* {
  color: white;
}

.sidenavToggleWrapper {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidenavToggleWrapper span {
  margin-left: 15px;
  white-space: normal;
  font-weight: 450;
  font-size: 1.2em;
}

.actions-lg #sidenavToggleButton {
  margin-left: auto;
}

.actions-lg,
.actions-sm {
  display: flex;
  flex-flow: column;
  background-color: transparent;
  width: 100%;
  height: auto;
}

.actions-sm {
  align-items: center;
}

.actions-sm a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.actions-lg a,
.actions-lg button,
.actions-sm a,
.actions-sm button {
  display: flex;
  white-space: nowrap;
  align-items: center;
  padding: 15px;
  transition: padding 0.1s ease-in;
}

.actions-sm a,
.actions-sm button,
.actions-lg button {
  background-color: transparent;
  outline: none;
  border: none;
}

.actions-lg a span,
.actions-lg button span {
  font-size: 15px;
  display: block;
}
mat-icon {
  transition: all 0.2s ease-in;
}
.actions-lg mat-icon {
  margin-right: 5px;
}

.actions-lg a:hover,
.actions-sm a:hover {
  background-color: #065aba !important;
}

.active {
  background-color: #065aba !important;
}
