<form [formGroup]="createAccountForm">
  <div
    ngClass.lt-md="form-wrapper-lt-md"
    ngClass.gt-sm="form-wrapper-gt-sm"
    class="page-wrapper mat-elevation-z3"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
  >
    <div
      fxLayout="row wrap"
      fxLayoutAlign="center"
      fxLayout.lt-md="column wrap"
      fxLayoutAlign.lt-md="center space-around"
      fxLayoutGap="15px"
      class="form-field-row-wrapper"
    >
      <mat-form-field
        ngClass.gt-sm="form-field-gt-sm"
        ngClass.lt-md="form-field-flex-lt-md "
      >
        <mat-label>Nome</mat-label>
        <input type="text" matInput autocomplete="off" />
      </mat-form-field>
      <mat-form-field
        ngClass.gt-sm="form-field-gt-sm"
        ngClass.lt-md="form-field-flex-lt-md "
      >
        <mat-label>Saldo Inicial</mat-label>
        <input type="text" matInput autocomplete="off" />
      </mat-form-field>
    </div>

    <div
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="center center"
      fxLayoutGap="15px"
      class="form-field-row-wrapper"
    >
      <mat-form-field
        ngClass.gt-sm="form-field-gt-sm"
        ngClass.lt-md="form-field-flex-lt-md "
      >
        <mat-label>Tipo</mat-label>
        <mat-select>
          <mat-option [value]="null">--</mat-option>
          <mat-option value="Grupo 1">Grupo 1</mat-option>
          <mat-option value="Grupo 2">Grupo 2</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        ngClass.gt-sm="form-field-gt-sm"
        ngClass.lt-md="form-field-flex-lt-md "
      >
        <mat-label>Grupo</mat-label>

        <mat-select>
          <mat-option value="Grupo 1">Grupo 1</mat-option>
          <mat-option value="Grupo 2">Grupo 2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="center center"
      fxLayoutGap="15px"
      class="form-field-row-wrapper"
    >
      <div
        ngClass.gt-sm="form-field-gt-sm"
        ngClass.lt-md="form-field-flex-lt-md "
      >
        <app-accounts-color-sample
          (colorInfoEmitter)="setColorInfo($event)"
        ></app-accounts-color-sample>
      </div>
    </div>
    <div class="buttons-wrapper" fxLayoutAlign="row" fxLayoutGap="10px">
      <button mat-raised-button [routerLink]="['..']">
        Voltar
      </button>
      <button mat-raised-button color="primary" type="submit">
        Adicionar
      </button>
    </div>
  </div>
</form>
