.form-field-row-wrapper {
  width: 100%;
  max-width: 100%;
}

.form-field-gt-sm {
  width: 25%;
}

.form-field-flex-lt-md {
  width: 75%;
}

.color-box {
  height: 25px;
  width: 100%;
  padding: 2px 5px;
}
