<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened=true id="sidenav">
        <div class="sidenav-actions">
            <app-sidenav-actions [opened]="sidenavOpened"></app-sidenav-actions>
        </div>
    </mat-sidenav>
    <mat-sidenav-content id="sidenav-content">
        <mat-toolbar style="height: 64px;">
            <mat-toolbar-row>
                <!-- <span>
                    <button matTooltip="Início" [routerLink]="['']" mat-button>Financeiro</button>
                </span> -->
                <app-breadcrumb></app-breadcrumb>
                <span id="toolbar-actions">
                    <app-toolbar-actions></app-toolbar-actions>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="main-content">
            <ng-content></ng-content> <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
            content <br>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>