.sidenav {
  background: #1565c0;
  min-width: 200px;
  // display: flex;
  //   minheight: 100%;
}
.sidenav-actions {
  // position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  order: 2;
}
#sidenav-closer {
  display: block;
  color: white;
}

.sidenav-container {
  height: 100%;
}

.main-content {
  position: relative;
  background: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  overflow-x: auto;
}
